<div class="hero">
  <%= @trip.destination %>
</div>

<div class="container trip-container">
  <div class="row gx-5 info">
  <div class="col-sm-8">
    <h2><%= @trip.destination %></h2>
    <hr>
  </div>
  <div class="col-sm-4">
    <h3>Reservation box</h3>
  </div>
</div>
</div>
