<div class="container col-12 banner">
  <h1 class="title fw-bolder">Vuela Vuela</h1>
</div>
<h2 class="destinos my-5">Nuestros destinos</h2>
<div class="container mb-5">
<div class="cards">
  <div class="card-destination ba">
    Buenos Aires
  </div>

  <div class="card-destination li">
    Lima
  </div>

  <div class="card-destination cdmx">
    CDMX
  </div>

  <div class="card-destination ny">
    New York
  </div>

  <div class="card-destination paris">
    Paris
  </div>

  <div class="card-destination london">
    London
  </div>
</div>
</div>
